[Desktop Entry]
Name=picture
Comment=Picture Viewer
Icon=picture
Exec=picture %F
StartupWMClass=picture
Terminal=false
Type=Application
Categories=Graphics;
MimeType=image/*;application/octet-stream;