.category{
    margin-left: 10px;
}

.close:hover{
    background-color: var(--primary-highlight-color);
    color: var(--primary-forecolor);
}

.rotate-btn{
    transform: rotate(180deg);
}

.prev-area{
    top:0px;
    left:0px;
    bottom:0px;
    flex-direction: column;
    justify-content: center;
    position: absolute;
    width: 100px;
    display: flex;
    z-index: 20;
}

.next-area{
    top:0px;
    right:0px;
    bottom:0px;
    flex-direction: column;
    justify-content: center;
    position: absolute;
    width: 100px;
    display: flex;
    z-index: 20;
}

.next-area:hover,
.prev-area:hover{
    background-color:var(--next-prev-bgcolor);
}

.history-container{
    display: none;
    position: fixed;
    top: 0px;
    width: 300px;
    height: 100%;
    z-index: 100;
    box-shadow: var(--history-shadow);
    color: var(--history-color);
    background-color: var(--history-bgcolor);
    animation: animateleft 0.4s;
}

.history-open .history-container{
    display: block;
}

@keyframes animateleft {
    0% {
        left: -300px;
        opacity: 0;
    }

    100% {
        left:0px;
        opacity: 1;
  }
}

.history-title{
    height: 30px;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    -webkit-app-region: no-drag;
}

.close-history-btn{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 30px;
}

.close-history-btn:hover{
    background-color: var(--primary-button-hover-color);
}

.close-history-btn svg{
    width: 20px;
    height: 20px;
    pointer-events: none;
}

.history{
    list-style: none;
    margin: 5px 0;
    padding: 0;
    font-size: 12px;
    user-select: none;
    top: 30px;
    height: 100%;
    position: absolute;
    overflow-y: auto;
    overflow-x: hidden;
    padding: 0 5px;
}

.history li{
    display: flex;
    align-items: center;
}

.history .history-item:hover{
    background-color: var(--secondary-button-hover-color);
}

.remove-history-btn{
    width: 16px;
    padding: 5px 0;
    display: flex;
    justify-content: center;
    cursor: pointer;
}

.remove-history-btn:hover{
    color: red;
}

.history-item{
    width: 270px;
    padding: 5px 0;
    cursor: pointer;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.text{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    margin: 0 20px;
    width: 100%;
}

.arrow {
    border: solid var(-arrow-color);
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 15px;
    width: 10px;
    height: 10px;
    margin: 0 auto;
    pointer-events: none;
}

.next-area:hover .arrow,
.prev-area:hover .arrow{
    border: solid var(--arrow-hover-color);
    border-width: 0 3px 3px 0;
}

.right {
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
}

.left {
    transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
}

.full .title-bar,
.full .menu{
    display: none;
}
